<mat-card class="book-register">
  <mat-card-title>書籍登録</mat-card-title>
  <form #f="ngForm" >
    <div>
      <mat-form-field class="input-details" name="book-name" appearance="fill">
        <input matInput placeholder="書籍名" type="text" [(ngModel)]="tmpBook.name" name="bookName" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-details" name="book-detail" appearance="fill">
        <textarea matInput placeholder="あらすじ" type="text" [(ngModel)]="tmpBook.detail" name="bookDetails" required></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="評価点" type="number" [(ngModel)]="tmpBook.evaluation" min="0" max="100" name="bookEvaluation" required>
      </mat-form-field>
    </div>
    <mat-card-actions align="end">
      <button mat-raised-button type="submit" color="primary" (click)="addBook()" disabled="{{f.invalid}}">追加</button>
    </mat-card-actions>
  </form>
</mat-card>

<ng-container *ngFor="let book of bookList">
  <app-card [book]="book"></app-card>
</ng-container>
